* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-optical-sizing: auto;
    font-family: "Open Sans", sans-serif;
}

body {

    background-image: url(https://wallpapercave.com/wp/wp6784483.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;

}

.login a button {
    width: 5%;
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    position: absolute;
    left: 93%;
    font-size: 20px;

}